<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/mdb.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container-fluid h-50 head-index">
		<div class="flex-center position-ref full-height">
			<div class="top-right links">
					<a  th:href="@{/site/addsite}">Add a Site</a> 
				<a th:href="@{/}">Accueil</a>

			</div>
			<div class="content">
				<div class="title m-b-md">Sites Touristique</div>

				<div class="subtitle">
					<h2>To discover the closest shops to you...</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-4">
		<div class="row">
			<div class="col-6">
<!-- 				<form action="/sites/addsite" method="post" -->
<!-- 					enctype="multipart/form-data"> -->
<!-- 					<input type="text" th:value="${site.nom}" placeholder="Name" name="nom" /> 
							<input type="text" th:value="${site.description}" placeholder="description" name="description" /> 
							<input type="number" th:value="${site.x}" name="x" id="x"/> 
							<input type="number" th:value="${site.y}" name="y" id="y"/> 
							<input type="file" name="uploadingFiles" multiple> 
							<input type="submit" name="name" /> -->
<!-- 				</form> -->

<!-- Form -->
        <form class="text-center" style="color: #757575;" action="/site/addsite" method="post" enctype="multipart/form-data" >

            <!-- Name -->
            <div class="md-form mt-3">
                <input type="text" id="materialContactFormName" class="form-control" th:value="${site.nom}" name="nom">
                <label for="materialContactFormName">Name</label>
            </div>

            

            <!--Description -->
            <div class="md-form">
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3" th:value="${site.description}" name="description" ></textarea>
                <label for="materialContactFormMessage">Description</label>
            </div>

            <!--Images -->
            <div class="md-form">
            	<input type="file" id="images" name="uploadingFiles" multiple>
                <label for="images">Images: </label>
            </div>
			<input type="number" th:value="${site.x}" name="x" id="x" step="0.0000000000000001" hidden/> 
			<input type="number" th:value="${site.y}" name="y" id="y" step="0.0000000000000001" hidden/> 
            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Send</button>

        </form>
        <!-- Form -->
			</div>
			<div class="col-6">
                            <div id="map" style="width: 100%; height: 400px;"></div>
			</div>
		</div>
	</div>







<script th:src="@{../js/jquery.min.js}"></script>
<script th:src="@{../js/popper.min.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/mdb.min.js}"></script>
<script>
	
        const appendChild = Element.prototype.appendChild;
        const urlCatchers = [
            "/AuthenticationService.Authenticate?",
            "/QuotaService.RecordEvent?"
        ];
        Element.prototype.appendChild = function (element) {
            const isGMapScript = element.tagName === 'SCRIPT' && /maps\.googleapis\.com/i.test(element.src);
            const isGMapAccessScript = isGMapScript && urlCatchers.some(url => element.src.includes(url));
    
            if (!isGMapAccessScript) {
                return appendChild.call(this, element);
            }
            return element;
        }
        var markersArray = [];
        
            function myMap() {
                var mapProp = {
                    center : new google.maps.LatLng(31.634545, -8.1479382),
                    zoom : 9,
                };
                var map = new google.maps.Map(document.getElementById("map"),
                        mapProp);
                
                google.maps.event.addListener(map, 'click', function(event) {
                    placeMarker(event);
                    var marker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: 'Hello World!'
                      });
                    markersArray.push(marker);
                    
                });
        
            }
            
             function placeMarker(event) {
                 
                 var currentMarker = null;
                 
                 
                    document.getElementById("x").value=event.latLng.lat();
                    document.getElementById("y").value=event.latLng.lng();
                    for(var i=0;i<markersArray.length;i++)  markersArray[i].setMap(null);
                    currentMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(event.latLng.lat(), event.latLng.lng())
                    });
                    markersArray.push(currentMarker);
            }
            
            
        </script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwTzZGfBLcDQl-E1phtP6dslBjjxEMUvo&callback=myMap"></script>


</body>
</html>